---
layout: default
title: Jarvis 工作室

---

    <header>
        <div class="header-content">
            <!-- <div class="header-content-inner">
                <h1>为iOS社区带来最佳实践和先进技术</h1>
                <hr>
                <p>@Jarvis 工作室</p>
                <a href="#" class="btn btn-primary btn-xl page-scroll">下载Jarvis客户端</a>
            </div> -->
        </div>
      </header>

      <section id="book">
          <div class="container">

              <div class="row">
                  <div class="col-lg-12 col-lg-offset-0 text-left">
                      <h5 style="font-size: 15px;">最近动态</h5>
                      <br/>
                      {% for category in site.categories %}
                      <!-- <h2>{{ category.first }}</h2> -->
                      <!-- </span>{{ category | last | size }}</span> -->

                          {% if category.first == 'latest' %}
                          {% for post in category.last %}
                          <h2 class="section-heading">{{ post.title }}</h2>
                          <br/>
                          <div >
                            {{ post.excerpt }}
                          </div>
                          <a href="{{ post.url }}">感兴趣，了解更多</a>
                          {% endfor %}
                          {% endif %}
                        {% endfor %}


                  </div>
              </div>

              <div class="row" style="margin-top:50px;">
                  <div class="col-lg-8 col-lg-offset-0 text-left">
                      <h5 style="font-size: 15px;">最新活动</h5>
                      <br/>
                      <h2 class="section-heading">赠送图书</h2>

                  </div>
              </div>
              <br/>
              <p style="font-size: 10px;">送书活动会从关注并转发<a href="http://weibo.com/taligent">@JARVIS_STUDIO</a>微博，和订阅简书<a href="http://www.jianshu.com/users/7720f38d3719/timeline">@JARVIS_STUDIO</a>的简书的人中，随机抽取。</p>
              <p style="font-size: 10px;">支持JARVIS_STUDIO，并分享到：</p>
              <div class="bdsharebuttonbox"  data-tag="share_1">
                <a class="bds_tsina" style="background-image: none;" data-cmd="tsina" href="#"> @微博</a>
                <a class="bds_weixin" style="background-image: none;" data-cmd="weixin">@微信</a>
                <a class="bds_douban" style="background-image: none;" data-cmd="douban">@豆瓣</a>
                <a class="bds_fbook" style="background-image: none;" data-cmd="fbook">@Facebook</a>
                <a class="bds_twi" style="background-image: none;" data-cmd="twi">@Twritter</a>
                <a class="bds_linkedin" style="background-image: none;" data-cmd="linkedin">@Linkedin</a>
              </div>
              <script>
                window._bd_share_config = {
                  common : {
                    bdText : '#JARVIS_STUDIO# 了解有关苹果开发者的Hacker组织 @JARVIS_STUDIO 的更多动态，关注博客。',
                    bdDesc : '苹果开发者的专属博客',
                    bdUrl : 'http://www.jarvis.studio',
                    bdPic : 'http://forum.jarvis.studio/letter_avatar_proxy/v2/letter/j/e36b37/64.png'
                  },
                  share : [{
                    "bdSize" : 16
                  }],
                  image : [{
                    viewType : 'list',
                    viewPos : 'top',
                    viewColor : 'black',
                    viewSize : '16',
                    viewList : ['qzone','tsina','huaban','tqq','renren']
                  }]
                }
                with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
              </script>
          </div>

      </section>


<section>
<div class="container">
  <div class="col-lg-12  col-lg-offset-0 text-left">
    <h5>Objective-C</h5>
    <div >
      {% for category in site.categories %}
        <ul class="arc-list">
          {% for post in category.last %}
            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          {% endif %}
        </ul>
        {% endfor %}
    </div>
  </div>
</section>

      <!-- <section>

        <div class="container">
          <h5 style="font-size: 15px;">文章列表</h5>
          <br/>
          <div class="col-lg-3  col-lg-offset-0 text-left">
            <h5>Objective-C</h5>
            <div >
              {% for category in site.categories %}
              <!-- <h2>{{ category.first }}</h2> -->
              <!-- </span>{{ category | last | size }}</span> -->
                <ul class="arc-list">
                  {% if category.first == 'objc' %}
                  {% for post in category.last %}
                    <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                  {% endif %}
                </ul>
                {% endfor %}
            </div>

            <br/>
            <h5>Cocoa</h5>
            <div >
              {% for category in site.categories %}
              <!-- <h2>{{ category.first }}</h2> -->
              <!-- </span>{{ category | last | size }}</span> -->
                <ul class="arc-list">
                  {% if category.first == 'cocoa' %}
                  {% for post in category.last %}
                    <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                  {% endif %}
                </ul>
                {% endfor %}
            </div>

            <br/>
            <h5>Tools</h5>
            <div >
              {% for category in site.categories %}
              <!-- <h2>{{ category.first }}</h2> -->
              <!-- </span>{{ category | last | size }}</span> -->
                <ul class="arc-list">
                  {% if category.first == 'tools' %}
                  {% for post in category.last %}
                    <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                  {% endif %}
                </ul>
                {% endfor %}
            </div>

          </div>
          <div class="col-lg-3 col-lg-offset-1 text-left">
            <br/>
            <h5>Swift</h5>

              <div class="text-left">
                {% for category in site.categories %}
                <!-- <h2>{{ category.first }}</h2> -->
                <!-- </span>{{ category | last | size }}</span> -->
                  <ul class="arc-list">
                    {% if category.first == 'swift' %}
                    {% for post in category.last %}
                      <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                  {% endfor %}
              </div>

              <br/>
              <h5>Open Source</h5>
              <div >
                {% for category in site.categories %}
                <!-- <h2>{{ category.first }}</h2> -->
                <!-- </span>{{ category | last | size }}</span> -->

                  <ul class="arc-list">
                    {% if category.first == 'open source' %}
                    {% for post in category.last %}
                        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                  {% endfor %}
              </div>

          </div>

          <div class="col-lg-3 col-lg-offset-1 text-left">
            <br/>
            <h5>React Native</h5>

              <div class="text-left">
                {% for category in site.categories %}
                <!-- <h2>{{ category.first }}</h2> -->
                <!-- </span>{{ category | last | size }}</span> -->
                  <ul class="arc-list">
                    {% if category.first == 'react' %}
                    {% for post in category.last %}
                      <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                  {% endfor %}
              </div>

              <br/>
              <h5>Sessions</h5>
              <div >
                {% for category in site.categories %}
                <!-- <h2>{{ category.first }}</h2> -->
                <!-- </span>{{ category | last | size }}</span> -->

                  <ul class="arc-list">
                    {% if category.first == 'sessions' %}
                    {% for post in category.last %}
                        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                  {% endfor %}
              </div>

          </div>


        </div>
      </section>

      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Jarvis 工作室</h2>
                      <hr class="primary">
                      <p>
                        <a href="https://github.com/oenius">@周宇</a>
                        <a href="https://github.com/miwushuizhu">@魏莉</a>
                        <a href="https://github.com/fharmony">@范航</a>
                        <a href="https://github.com/lllcccttt">@李晨涛</a>
                        <a href="https://github.com/gogetaway">@王存志</a>
                        <a href="https://github.com/Laygo">@周磊</a>
                      </p>
                      <p>有疑问，想分享？！联系我们。</p>
                  </div>
                  <div class="col-lg-4 col-lg-offset-2 text-center">
                      <i class="fa fa-phone fa-3x wow bounceIn"></i>
                      <p>+86-18605055717</p>
                  </div>
                  <div class="col-lg-4 text-center">
                      <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                      <p><a href="mailto:jarvis@jarvis.studio">jarvis@javis.studio</a></p>
                  </div>
              </div>
          </div>
      </section> -->



    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>JARVIS STUDIO</h2>
                <p>Questions? Corrections? <a href="http://weibo.com/taligent">@JARVIS_STUDIO</a> or on <a href="https://github.com/Jarvis-Studio">@GitHub</a>.</p>
                <p>JARVIS.studio is released under a Creative Commons BY-NC License.</p>
            </div>
        </div>
    </aside>
