---
layout: default
title: 博客
---
<!-- <section class="bg-dark">
  <div class="text-center">
    <h1>Jarvis 工作室 .博客.</h1>
  </div>
</section> -->

<section id="services"  class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">总有你想知道的</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

          <a href="/blog.html">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Objective-C</h3>
                    <p class="text-muted">永远的开始.</p>
                </div>
            </div>
            </a>

            <a href="/swift.html">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Swift</h3>
                    <p class="text-muted">更快, 更安全. </p>
                </div>
            </div>
          </a>

          <a href="/react.html">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>React Native</h3>
                    <p class="text-muted">打破僵局,让热更新不再困难.</p>
                </div>
            </div>
            <a>

            <a href="/other.html">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>视觉</h3>
                    <p class="text-muted">增加你的技术树,做一名合格的设计师</p>
                </div>
            </div>
          </a>

        </div>
    </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="text-left">
        {% for category in site.categories %}
        <!-- <h2>{{ category.first }}</h2> -->
        <!-- </span>{{ category | last | size }}</span> -->
          <ul class="arc-list">
            {% if category.first == 'other' %}
            {% for post in category.last %}
              <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
